.c-randomizer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 300px;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  background-blend-mode: multiply;
}


